huggingface_hub==1.1.7
langchain==1.1.0
langchain_chroma==1.0.0
langchain_classic==1.0.0
langchain_community==0.4.1
langchain_core==1.1.0
langchain_huggingface==1.1.0
langchain_openai==1.1.0
langchain_text_splitters==1.0.0
langgraph==1.0.4
langsmith==0.4.53
mcp==1.23.1
openai==2.8.1
pydantic==2.12.5
python-dotenv==1.2.1
Requests==2.32.5
setuptools==80.9.0